<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.guestlogix.traveleruikit">

    <application android:theme="@style/AppTheme">
        <activity android:name=".activities.OrderDetailActivity"/>
        <activity android:name=".activities.OrderConfirmationActivity"/>
        <activity android:name=".activities.OrderSummaryActivity"/>
        <activity android:name=".activities.QuestionsActivity"/>
        <activity android:name=".activities.PassSelectionActivity"/>
        <activity
                android:name=".activities.BookingItemDetailsActivity"
                android:launchMode="singleTop">
        </activity>
        <activity android:name=".activities.OrdersActivity"/>
        <activity android:name=".activities.WishlistActivity"/>
        <activity android:name=".activities.AvailabilityActivity"/>
        <activity android:name=".activities.ProductDetailsActivity"/>
        <activity android:name=".activities.CancelOrderActivity"/>
        <activity android:name=".activities.TermsAndConditionsActivity"/>
        <activity android:name=".activities.BookingSearchActivity"/>
        <activity android:name=".activities.BookingSearchResultActivity"/>
        <activity android:name=".partneroffering.PartnerOfferingActivity"/>
        <activity android:name=".partneroffering.PartnerOfferingSelectionActivity"/>
        <activity android:name=".partneroffering.PartnerOfferingQuantityActivity"/>
    </application>

</manifest>