<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.guestlogix.traveleruikit">

    <application android:theme="@style/AppTheme">
        <activity android:name=".activities.OrderConfirmationActivity">
        </activity>
        <activity android:name=".activities.OrderSummaryActivity">
        </activity>
        <activity android:name=".activities.QuestionsActivity">
        </activity>
        <activity android:name=".activities.PassSelectionActivity">
        </activity>
        <activity android:name=".activities.CatalogItemDetailsActivity" android:launchMode="singleTop">
        </activity>
        <activity android:name=".activities.OrdersActivity"
                  android:label="Orders">
        </activity>
    </application>
</manifest>