<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.guestlogix.traveler_stripe_payment_provider">

    <application>
        <activity
                android:name=".PaymentCollectionActivity"
                android:label="@string/title_payment_collection_Activity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>